.bodyPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.bodyContainer{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}